*{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
html{
    background: #fff url("https://picsum.photos/1800/800?blur") no-repeat center;
    background-size: cover;
}

body{
    /* background: rgb(255, 255, 255, 0.4); */
    height: 100vh;
    display: flex;
    margin: 0;
    
}

h1{
    font-size: 22px;
    font-weight: 500;
}

ul{
    list-style: none;
    padding: 0;
}

button{
    background-color: #663399;
    color: white;
    padding: 10px 25px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    background: linear-gradient(180deg, #A079C7 0%, #663399 100%);
}

button:hover{
    background: linear-gradient(180deg, #A079C7 0%, #663399 70%);
    transition: 0.2s;
}


/* Container */

.border{
    background-color: rgba(250,250,250,.8);
    /* border: solid 1px #000; */
    border-radius: 10px;
    min-height: 95vh;
    flex-grow: 1;
    margin: 15px;
}

.game__history{
    max-width: 400px;
    /* height: 95vh; */
    overflow-y: auto;
}

.game__title__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.game__result{
    border-bottom: solid 1px #800080;
}
.game__result ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
}
.game__result li{
    padding: 5px;
}
.choice__wrapper{
    padding: 20px;
}
.player__names{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.game__story__list{
    max-height: 100%;
}
.game__story__list li:nth-child(even){
    background-color: rgba(0,0,0,.1);
}

.game__story{
    padding: 5px 10px;
    border-bottom: solid 1px rgba(0,0,0,.4);
}
.game__results{
    justify-content: space-between;
}


.win_loss_result{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(0,0,0,.9);
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.result_wrapper{
    width: 500px;
    height: 300px;
    background-color: rgba(255,255,255,.6);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result_output_wrapper h4{
    font-size: 1.5rem;
    text-align: center;
}
.result_output_wrapper button{
    width: 100%;
}

.end__game__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0 0;
}

.undisplay{
    display: none;
    transition: .3s;
}





/* Text */
.game__result h3{
    text-align: center;
    margin: 0px;
}

.player__names p{
    margin: 5px;
}
.game__counter p{
    font-size: 50px;
    font-weight: 700;
    margin: 10px 10px 10px 10px;   
}
.game__story p, strong{
    font-size: 14px;
    margin: 1px;
}
.bold{
    font-weight: 700;
}
.game__mode__wrapper h4{
    text-align: center;

}

/* Text colors */
.green__victory{
    color: rgb(4, 146, 4);
}
.red__lost{
    color: rgb(186, 7, 7);
}
.grey__draw{
    color: grey;
}

/* button colors */
.in__game{
    background: linear-gradient(180deg, #44b37f 0%, #1faf71 100%);
}
.in__game:hover{
    background: linear-gradient(180deg, #368d64 0%, #1e9e67 100%);
}